   <!-- FOOTER -->
   <footer class="footer">
    <div class="footer-container grid grid-footer">
      <div class="logo-col">
        <a href="#" class="footer-logo">
          <img
            class="flogo"
            alt="Canteen Cravings Logo"
            src="img/logos/CanteenCravings-logo-m.png"
          />
        </a>

        <ul class="social-links">
          <li>
            <a
              class="footer-link"
              href="https://github.com/s1xine"
              target="_blank"
              ><ion-icon class="social-icon" name="logo-github"></ion-icon
            ></a>
          </li>
          <li>
            <a
              class="footer-link"
              href="https://www.linkedin.com/in/prajotbaloliya/"
              target="_blank"
            >
              <ion-icon class="social-icon" name="logo-linkedin"></ion-icon>
            </a>
          </li>
          <li>
            <a
              class="footer-link"
              href="https://www.instagram.com/prajot_baloliya/"
              target="_blank"
              ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
            ></a>
          </li>

          <li>
            <a
              class="footer-link"
              href="https://twitter.com/s1xine"
              target="_blank"
              ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
            ></a>
          </li>
        </ul>

        <p class="copyright">
          Copyright &copy; <span class="year"></span> all rights reserved.<br />
          Designed and Made by Prajot Baloliya.
        </p>
      </div>
    </div>
  </footer>

  <!-- JS -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
 
</body>
</html>