   <!-- FOOTER -->
   <footer class="footer">
    <div class="footer-container grid grid-footer">
      <div class="logo-col">
        <a href="#" class="footer-logo">
          <img
            class="flogo"
            alt="Canteen Cravings Logo"
            src="img/logos/CanteenCravings-logo-m.png"
          />
        </a>

        <ul class="social-links">
          <li>
            <a
              class="footer-link"
              href="https://github.com/s1xine"
              target="_blank"
              ><ion-icon class="social-icon" name="logo-github"></ion-icon
            ></a>
          </li>
          <li>
            <a
              class="footer-link"
              href="https://www.linkedin.com/in/prajotbaloliya/"
              target="_blank"
            >
              <ion-icon class="social-icon" name="logo-linkedin"></ion-icon>
            </a>
          </li>
          <li>
            <a
              class="footer-link"
              href="https://www.instagram.com/prajot_baloliya/"
              target="_blank"
              ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
            ></a>
          </li>

          <li>
            <a
              class="footer-link"
              href="https://twitter.com/s1xine"
              target="_blank"
              ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
            ></a>
          </li>
        </ul>

        <p class="copyright">
          Copyright &copy; <script>document.write(new Date().getFullYear())</script> all rights reserved.<br />
          Designed and Made by Prajot Baloliya.
        </p>
      </div>
    </div>
  </footer>
</html>