<nav
  class="navbar navbar-expand-xl fixed-top navbar-light bg-light"
  style="background-color: rgba(255, 255, 255, 0.1)"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="logo d-inline-block align-text-topd-inline-block align-text-top"
        alt="Canteen Cravings Logo"
        src="img/logos/CanteenCravesLONG-logo.png"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
      aria-controls="nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse just justify-content-end" id="nav">
      <ul class="main-nav-list navbar-nav">
        <li class="nav-item">
          <a href="#canteens" class="main-nav-link">Canteens</a>
        </li>
        <li class="nav-item">
          <a href="#services" class="main-nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="#testimonials" class="main-nav-link">Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="#gallery" class="main-nav-link">Gallery</a>
        </li>

        <li class="nav-item">
          <a href="/login" class="main-nav-link nav-cta">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
