<%- include("partials/lsrHeader.ejs"); -%>
<body>
  <!-- LOGO -->
  <header class="lsr-header">
    <a href="/">
      <img
        class="lsr-logo"
        alt="Canteen Cravings Logo"
        src="img/logos/CanteenCravesLONG-logo.png"
      />
    </a>
  </header>

  <!-- RESET PASSWORD -->
  <section class="section-reset-password">
    <div class="container">
      <div class="reset-password">
        <h2 class="heading-secondary">Recover Password</h2>

        <form class="reset-password-form" name="reset-password">
          <div>
            <label for="email">Email Address</label>
            <input
              id="email"
              type="email"
              placeholder="enter your email"
              name="email"
              required
            />
          </div>

          <button class="button button-form button-reset-password">
            Reset
          </button>
        </form>
      </div>
    </div>
  </section>
</body>

<%- include("partials/lsrFooter.ejs"); -%>
