<%- include("partials/header.ejs");-%>
<body>
  <header>
    <nav
      id="navbar"
      class="container-fluid navbar navbar-expand-xl fixed-top navbar-light bg-white"
      style="background-color: rgba(255, 255, 255, 0.1)"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            class="logo d-inline-block align-text-topd-inline-block align-text-top"
            alt="Canteen Cravings Logo"
            src="img/logos/CanteenCravesLONG-logo.png"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav"
          aria-controls="nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="nav">
          <ul class="main-nav-list navbar-nav">
            <li class="nav-item">
              <a href="#canteens" class="main-nav-link">Canteens</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="main-nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a href="#testimonials" class="main-nav-link">Testimonials</a>
            </li>
            <li class="nav-item">
              <a href="#gallery" class="main-nav-link">Gallery</a>
            </li>

            <li class="nav-item">
              <a href="/login" class="btn btn-primary btn-lg main-nav-list"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <!-- HERO -->
    <section class="section-hero">
      <div class="hero">
        <div class="hero-text-box">
          <h1 class="heading-primary">
            Never hide your cravings for delicious food, ORDER NOW!
          </h1>
          <p class="hero-description">
            Order your favourite fast food from your desired canteen any time
            from any where and collect it from your respective canteens once
            it's ready. For faculties get it delievered to your cabin.
          </p>
          <a href="#cta" class="button button-full margin-right-sm"
            >Order Now</a
          >
        </div>

        <!-- HERO IMAGE -->
        <div class="hero-img-box">
          <!-- OPTIONS TO THE BROWSER IF IT DOES NOT SUPPORT webp FORMATE -->
          <picture>
            <source srcset="img/hero/hero-sxb.webp" type="image/webp" />
            <source srcset="img/hero/hero-sxb.png" type="image/png" />

            <img
              src="img/hero/hero-sxb.png"
              class="hero-img"
              alt="Image of bhel, pav bhaji and sandwich."
            />
          </picture>
        </div>
      </div>
    </section>

    <!-- CANTEENS -->
    <section class="section-canteens" id="canteens">
      <div class="container center-text">
        <span class="subheading">CANTEENS</span>
        <h2 class="heading-secondary">Order from your favourite canteen</h2>
      </div>

      <div class="container grid grid-2-cols side-paddings">
        <!-- SDBCE -->
        <div class="canteen">
          <a href="/sdbce">
            <img
              src="img/canteens/SDBCE.jpg"
              class="canteen-img"
              alt="SDBCE Canteen"
            />
            <div class="canteen-content">
              <div class="canteen-tags">
                <span class="tag tag-vegetarian">Vegetarian</span>
              </div>
              <p class="canteen-title">SDBCE Canteen</p>
            </div>
          </a>
        </div>

        <!-- SDBCT -->
        <div class="canteen">
          <a href="/sdbct">
            <img
              src="img/canteens/SDCBT.jpg"
              class="canteen-img"
              alt="SDBCT Canteen"
            />
            <div class="canteen-content">
              <div class="canteen-tags">
                <span class="tag tag-vegetarian">Vegetarian</span>
              </div>
              <p class="canteen-title">SDBCT Canteen</p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!--SERVICES-->
    <section class="section-services" id="services">
      <div class="container">
        <span class="subheading">Services</span>
        <h2 class="heading-secondary">Services of canteens</h2>
      </div>

      <div class="container grid grid-3-cols">
        <div class="feature">
          <ion-icon class="feature-icon" name="nutrition-outline"></ion-icon>
          <p class="feature-title">Local and organic</p>
          <p class="feature-text">
            Our cooks only use local, fresh, and organic products to prepare
            your food.
          </p>
        </div>

        <div class="feature">
          <ion-icon class="feature-icon" name="hourglass-outline"></ion-icon>
          <p class="feature-title">On time delievery</p>
          <p class="feature-text">
            Always get your food prepared on time, never miss out on your
            delicious food.
          </p>
        </div>

        <div class="feature">
          <ion-icon class="feature-icon" name="leaf-outline"></ion-icon>
          <p class="feature-title">No waste</p>
          <p class="feature-text">
            Canteens only use reusable containers to package all your canteens.
          </p>
        </div>
      </div>
    </section>

    <!-- TESTIMONIALS -->
    <section class="section-testimonials" id="testimonials">
      <div class="container">
        <div class="tesimonials-container">
          <span class="subheading">testimonials</span>
          <h2 class="heading-secondary">Testimonials given by students</h2>

          <div class="testimonials">
            <figure class="testimonial">
              <blockquote class="testimonial-text">
                Canteens have marvelous food that is too being inexpensive and
                great-tasting.
              </blockquote>
              <p class="testimonial-name">&mdash; Akash Nimare</p>
            </figure>

            <figure class="testimonial">
              <blockquote class="testimonial-text">
                SDBCT Canteen have great food. It tastes amazing and not to
                worry about quality of food anymore!
              </blockquote>
              <p class="testimonial-name">&mdash; Akshay Gurjar</p>
            </figure>

            <figure class="testimonial">
              <blockquote class="testimonial-text">
                Canteens have some finnest cooks. The sandwiches, paav bhaji and
                not to mention the bhel of SDBCT are just the best.
              </blockquote>
              <p class="testimonial-name">&mdash; Medona Abraham</p>
            </figure>

            <figure class="testimonial">
              <blockquote class="testimonial-text">
                Both canteens have their own speciality like poha and baked
                samosa of SDBCE and as of SDBCT canteen the sandwiches, the bhel
                and chola bhatura tastes delicious.
              </blockquote>
              <p class="testimonial-name">&mdash; Kumkum Tiwari</p>
            </figure>
          </div>
        </div>
      </div>
    </section>

    <!-- GALLERY -->
    <section class="section-gallery" id="gallery">
      <div class="container">
        <span class="subheading">Gallery</span>
        <h2 class="heading-secondary">Captured happiness</h2>
      </div>

      <div class="gallery">
        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-1.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-2.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-3.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-4.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-5.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-6.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-7.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-8.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-9.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-10.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-11.webp"
            alt="photo of food"
          />
        </figure>

        <figure class="gallery-item">
          <img
            class="gallery-img"
            src="img/gallery/gallery-12.webp"
            alt="photo of food"
          />
        </figure>
      </div>
    </section>
  </main>

  <!-- CTA -->
  <section class="section-cta" id="cta">
    <div class="lsr register">
      <!-- FORM -->
      <div class="lsr-text-box">
        <h2 class="heading-secondary">Sign up!</h2>
        <p class="lsr-text">
          Sign up and order your food from anywhere, anytime.
        </p>

        <form class="lsr-form" name="lsr">
          <div>
            <label for="full-name">Full Name</label>
            <input
              id="full-name"
              type="text"
              placeholder="John Doe"
              name="full-name"
              required
            />
          </div>

          <div>
            <label for="email">Email Address</label>
            <input
              id="email"
              type="email"
              placeholder="johndoe@gmail.com"
              name="email"
              required
            />
          </div>

          <div>
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              placeholder="password"
              name="password"
              required
            />
          </div>

          <button class="button button-form button-lsr">Sign up</button>
        </form>

        <div class="lsr-foot">
          <p>Already have an account? <a href="/login">Login</a></p>
        </div>
      </div>

      <!-- BACKGROUND IMAGE -->
      <div
        class="sign-up-img-box"
        role="img"
        aria-label="artwork of a girl."
      ></div>
    </div>
  </section>

  <!-- JS -->
  <script src="/js/script.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
</body>

<%- include("partials/footer.ejs");-%>
