<%- include("partials/lsrHeader.ejs"); -%>

<body>
  <!-- LOGO -->
  <header class="lsr-header">
    <a href="/">
      <img
        class="lsr-logo"
        alt="Canteen Cravings Logo"
        src="img/logos/CanteenCravesLONG-logo.png"
      />
    </a>
  </header>

  <!-- lsr -->
  <section class="section-lsr">
    <div class="container">
      <div class="lsr">
        <!-- BACKGROUND IMAGE -->
        <div
          class="lsr-img-box"
          role="img"
          aria-label="artwork saying I Love Food"
        ></div>

        <!-- FORM -->
        <div class="lsr-text-box">
          <h2 class="heading-secondary">Login</h2>

          <form class="lsr-form" name="login-form" action="/" method="post">
            <div>
              <label for="email">Email Address</label>
              <input
                class="email"
                id="email"
                type="email"
                placeholder="johndoe@gmail.com"
                name="email"
              />
            </div>

            <div>
              <label for="password">Password</label>
              <input
                class="password"
                id="password"
                type="password"
                placeholder="password"
                name="password"
              />
            </div>
            <button
              class="button button-form button-lsr submitBtn"
              onclick="login()"
            >
              Login
            </button>
          </form>

          <div class="lsr-foot">
            <p>
              Forgot password?
              <a href="/forgotPassword">Reset Password</a>
            </p>

            <p>Create an account? <a href="/register">Sign-up</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- JS -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->

<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
<script src="/js/form.js"></script>

<%- include("partials/lsrFooter.ejs"); -%>
