<%- include("partials/lsrHeader.ejs"); -%>

<body>
  <!-- LOGO -->
  <header class="lsr-header">
    <a href="/">
      <img
        class="lsr-logo"
        alt="Canteen Cravings Logo"
        src="img/logos/CanteenCravesLONG-logo.png"
      />
    </a>
  </header>

  <!-- SIGNUP -->
  <section class="section-lsr">
    <div class="container">
      <div class="lsr register">
        <!-- FORM -->
        <div class="lsr-text-box">
          <h2 class="heading-secondary">Sign up!</h2>
          <p class="lsr-text">
            Sign up and order your food from anywhere, anytime.
          </p>

          <form
            class="lsr-form"
            name="resiter-form"
            action="/register"
            method="POST"
          >
            <div>
              <label for="full name">Full Name</label>
              <input
                id="fname"
                type="text"
                placeholder="John Doe"
                name="fname"
              />
            </div>

            <div>
              <label for="email">Email Address</label>
              <input
                id="email"
                type="email"
                placeholder="johndoe@gmail.com"
                name="username"
              />
            </div>

            <div>
              <label for="password">Password</label>
              <input
                id="password"
                type="password"
                placeholder="password"
                name="password"
              />
            </div>

            <button class="button button-form button-lsr" id="reg-button">
              Sign up
            </button>
          </form>

          <div class="lsr-foot">
            <p>Already have an account? <a href="/login">Login</a></p>
          </div>
        </div>

        <!-- SIDE IMAGE -->
        <div
          class="sign-up-img-box"
          role="img"
          aria-label="artwork of a girl."
        ></div>
      </div>
    </div>
  </section>
</body>

<!-- JS -->
<script src="/js/form.js"></script>

<%- include("partials/lsrFooter.ejs"); -%>
